@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

html {
    box-sizing: border-box;
}
body {
    background: #F9DEC9;
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.25;
}
header {
    background: #685044;
    padding: 60px 150px;
}

nav a {
    font-family: "Kaushan Script";
    color: #F7FFF7; 
    font-size: 2rem;
}

.call {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    font-family: "Kaushan Script";
    display: block;
    font-size: 1.5em;
}

img {
    float: left;
    border-radius: 40%;
    width: 25%;
    margin-left: 120px;
    padding: 40px 0px 0px 0px;
}

a:hover {
    text-decoration: none;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.form-item label {
    flex-basis: 150px;
    font-size: 22px;
}
.form-item input,
.form-item textarea {
    flex-basis: 50%;
    border: 2px solid #FDDC5C;
}
.form-item input,
.form-item button {
    border: 2px solid #E9AFA3;
    background-color: whitesmoke;
    padding: 15px;
    font-size: 18px;
}
.form-item textarea {
    border: 2px solid #E9AFA3;
    background-color: whitesmoke;
    padding: 15px;
    height: 100px;
    font-size: 18px;
}
.form-item input,
.form-item textarea,
.placeholder {
    font-size: 12px;
    font-family: sans-serif;
}
.form-item button {
    width: 50%;
    color: #F7FFF7;
    font-weight:bold;
    margin: 30px;
    background-color: #685044;
}
.form-item button:hover {
    border: 2px solid #685044;
    background-color:#685044;
    color: #343434;
}
.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #685044;
}

.body bottom {
    align-self: flex-end;
}

footer {
    background:#343434;
    color: #F7FFF7;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer a {
    color: #F7FFF7;
    padding: 20px;
    display: inline-block;
}
#contact-list {
    list-style-type: none;
    display: flex;
    padding: 0px;
    justify-content: center;
}



/* For Tablet */
@media(max-width: 900px)
{
header {
    padding: 20px 100px;
}  

.call {
    text-align: center;
    font-family: "Kaushan Script";
    font-size: 1.3rem;
}

img {
    padding: 10px 0px 10px 0px;
}
form {
    clear: both;
}
}

/* For Mobile */
@media(max-width: 600px)
{
header {
    padding: 20px;
}

nav a {
    font-size: 1.5rem;
}

img {
    float: none;
    margin-left: 20px;
}
.call {
    text-align: center;
    font-family: "Kaushan Script";
    font-size: 1.2rem;
}

form {
    clear: both;
}    
.form-item {
flex-direction:column;
}
.form-item label{
    flex-basis: 10px;
    font-size: 18px;
    width: 80%;
}

.form-item input,
.form-item textarea {
    font-size: 13px;
    width: 80%;
}

}






