@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

html, body {
    box-sizing: border-box;
    margin: 0px;
    width: 100%;
}

body {
    color: #343434;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.25;
}

header { 
    background: #685044;
    color: #F7FFF7;
}

.content-margin {
    margin: 0px;
    padding: 20px 40px;
}

#h2-header {
    text-align: left;
}

h1,h2 {
    font-family: "Kaushan Script";
    font-weight: 400;
}

h1 {
    font-size: 50px;
    margin: 0px;
}

h2 {
    font-size: 30px;
    text-align:center;
    margin-top: 0px;
    margin-bottom: 0px;
}

p{
    text-align: justify;
}

header img {
    float:left;
    border-radius: 50%;
    width: 30%;
    padding: 0px 30px 0px 0px;
    max-width: 190px;
}

header a {
    color: #F7FFF7;
    font-family: "Kaushan Script";
    font-size: 25px;
}

#clear {
    clear: both;
}

.portfolio {
    background: #F9DEC9;
}

.skills {
    background: #E9AFA3;
}

.container {
    display:flex;
     justify-content:center;
 }

 .tile {
     margin: 0px 10px;
     padding: 10px;
     text-align: center;
 }

 h3 {
    text-align: center;
    font-size: 15px;
    background:#343434;
    color: #F7FFF7;
    border-radius: 5%;
    padding: 5px;
}

.portfolio p {
    font-size: 90%;
}

img {
    padding: 0px 10px 0px 20px;
    width: 40%;
}

main ul {
    font-size: 90%;
    text-align: left;
    list-style-type: none;
}

a {
    color: #343434;
}

a:hover {
    text-decoration: none;
}

footer {
    background:#343434;
    color: #F7FFF7;
    text-align: center;
}
footer a {
    color: #F7FFF7;
    padding: 20px;
    display: inline-block;
}
#contact-list {
    list-style-type: none;
    display: flex;
    padding: 0px;
    justify-content: center;
}

/* For Tablet */
@media screen and (max-width: 900px)
{
    .container {
        flex-wrap:wrap;
    }

    .tile {
        width: 40%;
    }
    
}

/* For Mobile */
@media screen and (max-width: 600px)
{
    /* html, body {
        width: 100vh;
        height: 100%;
    } LOOKS LIKE I DONT NEED THIS*/

    header {
        text-align: center;
    }

    header h1, h2 {
        font-size:150%;
    }

    header img {
        float:none;
        text-align: center;
        padding-top: 10px;
    }

    .container {
        flex-direction: column;
        width: 80%;
    }

    .tile {
       width: 100%;
        text-align:center;
    }

    .tile img {
        width: 30%;
    }
} 













